#contact a {
  padding: 10px;
  /* font-size: 37px; */
  font-size: 2vh;
}

.fa-envelope {
  margin-right: 5px
}

.workersInfo h3 {
  font-size: 37px;
  font-size: 5vh;
}

.workersInfo p {
  /* font-size: 37px; */
  font-size: 2vh;
}

.extraInfo p {
  font-size: 3vh
}

.workersInfo h3, 
.workersInfo p,
.extraInfo p {
  padding: 10px
}

hr {
  /* background-color: #124b92; */
  height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #124b92 inset;
}

.secContact {
  display: none;
}

#contactName,
#contactEmail,
#contactMessage {
  border-bottom: 1px solid rgba(97, 137, 47, .5);
  line-height: 1.15;
  height: 3rem;
  font-size: 16px;
  color: #CBCDCB;
}
