/* #region ==================================== Gallery Tabs ==================================== */

.nav-link {
  box-shadow: 0 0 2px 4px #124b92;
  margin: 0 5px;
}

.nav-link.active {
  background-color: #124b92!important;
}

.nav-link:hover {
  background-color: #124b92;
  color: white
}

  /* #region ================================== Media Queries  ================================== */
  
  /* Large devices (laptops/desktops, 992px and down) */
  @media (max-width: 991px) {
  }

  /* #endregion */

/* #endregion */

/* #region =================================== Gallery Images =================================== */

.tab-pane {
  margin-top: 20px;
}

.thumbnail {
  margin: 5px;
  border: 1px solid white;
  border-radius: 2px;
}

.thumbnail img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

.thumbnail:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px 2.5px whitesmoke;
}

#galleryTabContent {
  padding-bottom: 20px;
}


  /* #region ================================== Media Queries  ================================== */
  
  /* Large devices (laptops/desktops, 992px and down) */
  @media (max-width: 991px) {
  }

  /* #endregion */

/* #endregion */

/* #region ===================================== Light Box  ===================================== */

.modal-content button {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 2px;
  font-size: 30px;
  background-color: transparent;
  border: 0;
  color: rgba(255, 255, 255, 0.7)
}

.modal-content button:hover {
  color: rgba(255, 255, 255, 1)
}

  /* #region ================================== Media Queries  ================================== */
  
  /* Large devices (laptops/desktops, 992px and down) */
  @media (max-width: 991px) {
  }

  /* #endregion */

/* #endregion */