/* #region ================================ Repeating Throughout ================================ */

.secTitle {
  color: #124b92;
  font-size: 3em;
  text-align: center;
  margin: 50px auto;
}

.secTitle-sm {
  color: #124b92;
  font-size: 2.5em;
  margin: 50px auto;
}

main {
  background-image: url("../img/logos/logodkgrey.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* #endregion */

/* #region ======================================= Banner ======================================= */

#banner {
  width: 95%;
  margin: 0 auto;
  box-shadow: 0 0 6px 8px #124b92;
}

#bannerSub {
  font-size: 75px;
  font-size: 5vw;
  text-align: center;
  margin: 15px auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

  /* #region ================================== Media Queries  ================================== */
  
  /* Large devices (laptops/desktops, 992px and down) */
  @media (max-width: 992px) {
    #bannerSub {
      font-size: 39px;
      font-size: 5vw;
    }
  }

  /* Extra small devices (phones, 600px and down) */
  @media (max-width: 600px) {
    #bannerSub {
      font-size: 25px;
      font-size: 5vw;
    }
  }

  /* #endregion */

/*#endregion */

/* #region ====================================== Nav Bar  ====================================== */

nav {
  text-align: center;
  font-size: 20px;
}

nav a {
  margin: 20px 20px 10px;
  display: grid;
}

nav i {
  position: relative;
  top: -8px;
}

  /* #region ================================== Media Queries  ================================== */
  
  /* Large devices (laptops/desktops, 992px and down) */
  @media (max-width: 991px) {
    nav a {
      display: block;
    }

    nav i {
      position: initial;
      top: 0;
      margin-right: 10px;
    }
  }

  /* #endregion */

/* #endregion */

/* #region =================================== Scrolling Text =================================== */

#scrollingText {
  background: url(../img/logos/banner.jpg);
  background-size: cover;
  height: 400px;
  position: relative;
}

#imgOverlay {
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

#scrollingText .carousel-inner {
  text-align: center;
  top: 6em;
  line-height: 100px;
}

.carousel-inner {
  height: 80%;
}

.carousel-inner h2 {
  font-size: 44px;
  font-size: 6vh;
  color:black;
  font-family: "Neuropolitical", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: black;
}

.carousel-inner h3 {
  font-size: 37px;
  font-size: 5vh;
}

  /* #region ================================== Media Queries  ================================== */
  
  /* Large devices (laptops/desktops, 991px and down) */
  @media (max-width: 991px) {
    .carousel-inner h2 {
      font-size: 40px;
      font-size: 5.5vh;
    }
    .carousel-inner h3 {
      font-size: 36px;
      font-size: 5vh;
    }
    #scrollingText .carousel-inner {
      top: 3em;
    }
  }  

  /* Small devices (portrait tablets and large phones, 768px and down) */
  @media (max-width: 709px) {
    .carousel-inner h2 {
      font-size: 40px;
      font-size: 5.5vh;
    }
    .carousel-inner h3 {
      font-size: 37px;
      font-size: 5vh;
    }
  }  

  /* #endregion */

/* #endregion */

/* #region ======================================= Intro  ======================================= */

#intro {
  text-align: center;
  margin: 15px auto;
  line-height: 4em;
}

#intro h4 {
  font-size: 2em;
}

#intro p {
  font-size: 1.5em;
}

/* #endregion */

/* #region ==================================== Light Types  ==================================== */

.lightTypes {
  width: 100%;
  margin: 10px auto;
}

.lightTypes img {
  width: 30%;
  filter: invert(60%);
  margin-top: 5px;
}

.lightTypes img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.lightTypes p {
  line-height: 1.5em;
}

#homeLights,
#businessLights,
#autoLights {
  width: 30%;
  margin: 10px;
  float: left;
}

#homeLights p,
#businessLights p,
#autoLights p {
  font-size: 1.2em;
}

/* #endregion */

/* #region ====================================== Services ====================================== */

#services {
  line-height: 30px;
}

#services img {
  width: 100%;
  max-height: 295px;
  object-fit: cover;
}

#services .carousel {
  box-shadow: 0 0 6px 8px whitesmoke;
}

#services .row {
  margin: 50px auto;
}

.middleAlign {
  top: 60px;
}

.justifyRight {
  text-align: end;
}

#services h4 {
  font-size: 3em;
  padding-bottom: 15px;
}

#services p {
  font-size: 1.2em;
}

  /* #region ================================== Media Queries  ================================== */
  
  /* Large devices (laptops/desktops, 991px and down) */
  @media (max-width: 991px) {
    #services h4,
    #services p {
      text-align: center;
      margin-bottom: 15px
    }

    #services p {
      margin-bottom: 105px
    }
  }  

  /* #endregion */

/* #endregion */

/* #region ======================================= Social ======================================= */

.carousel-item h5,
.carousel-item p {
  text-align: center;
  padding: 20px 0;
  font-size: 1em;
}

.carousel-item h5 {
  font-size: 1.5em;
}

/* #endregion */
