/* ============== Repeating Throughout ============== */

.secTitle {
  color: #124b92;
  font-size: 3em;
  text-align: center;
  margin: 50px auto;
}

main {
  background-image: url("../img/logos/logodkgrey.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* ============== Banner ============== */

#banner {
  width: 95%;
  margin: 0 auto;
  box-shadow: 0 0 6px 8px #124b92;
}

#bannerSub {
  font-size: 4em;
  text-align: center;
  margin: 15px auto;
}

/* ============== Nav Bar ============== */

nav {
  text-align: center;
  font-size: 20px;
}

nav a {
  margin: 0 20px;
}

nav i {
  margin: 10px 10px;
}

/* ============== Scrolling Text ============== */

#scrollingText {
  background: url(../img/logos/banner.jpg);
  background-size: cover;
  height: 400px;
  position: relative;
}

#imgOverlay {
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

#scrollingText .carousel-inner {
  text-align: center;
  top: 6em;
  line-height: 100px;
}

.carousel-inner h2 {
  color:white;
  font-size: 4em;
  font-family: "Neuropolitical";
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: black;
}

.carousel-inner h3 {
  font-size: 2em;
}

/* ============== Intro ============== */

#intro {
  text-align: center;
  margin: 15px auto;
  line-height: 4em;
}

#intro h4 {
  font-size: 2em;
}

#intro p {
  font-size: 1.5em;
}

/* ============== Light Types ============== */

.lightTypes {
  width: 100%;
  margin: 10px auto;
}

.lightTypes img {
  width: 30%;
  filter: invert(60%);
  margin-top: 5px;
}

.lightTypes img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.lightTypes p {
  line-height: 1.5em;
}

#homeLights,
#businessLights,
#autoLights {
  width: 30%;
  margin: 10px;
  float: left;
}

#homeLights p,
#businessLights p,
#autoLights p {
  font-size: 1.2em;
}

/* ============== Services ============== */
#services {
  line-height: 30px;
}

#services img {
  width: 100%;
  max-height: 295px;
  object-fit: cover;
}

#services .carousel {
  box-shadow: 0 0 6px 8px whitesmoke;
}

#services .row {
  margin: 50px auto;
}

.middleAlign {
  top: 60px;
}

.justifyRight {
  text-align: end;
}

#services h4 {
  font-size: 3em;
  padding-bottom: 15px;
}

#services p {
  font-size: 1.2em;
}