/*--
Author: Luke Boyle
Author URL: https://lmboyle.github.io/
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/* #region ==================================== Custom Fonts ==================================== */

@font-face {
  font-family: "Neuropolitical";
  src: url(../fonts/neuropolitical\ rg.ttf)format('truetype')
}

/* #endregion */

/* #region ===================================== HTML/Body  ===================================== */

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: black;
  color: white;
  font-size: 14px;
  height: 100%;
}

header {
  padding: 2em 0 1em;
  margin-top: .2em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

p {
  font-size: 1em;
}

a {
  color: white;
}

a:hover {
  color: #124b92;
  text-decoration: none;
}

/* #endregion */

/* #region ======================================= Footer ======================================= */

footer {
  height: 50px;
  line-height: 50px;
}

/* #endregion */

/* #region ==================================== Social Icons ==================================== */

.socialIcons {
  position: fixed;
  bottom: 5%;
  right: 2%;
}

.socialIcons a {
  padding: 0 10px
}

/* #endregion */

/* #region ==================================== To Top Icon  ==================================== */

.backToTop {
  position: fixed;
  bottom: 5%;
  left: 2%;
}

/* #endregion */
