/*--
Author: Luke Boyle
Author URL: https://lmboyle.github.io/
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/* ============== Custom Fonts ============== */

@font-face {
  font-family: "Neuropolitical";
  src: url(neuropolitical\ rg.ttf)format('truetype')
}

@font-face {
  font-family: "Dosis-Regular";
  src: url(Dosis-Regular.otf)format('truetype')
}

/* ============== HTML/Body ============== */

body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis-Regular';
  background-color: black;
  color: white;
  font-size: 14px;
}

header {
  padding: 2em 0 1em;
  margin-top: .2em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

p {
  font-size: 1em;
}

a {
  color: white;
}

a:hover {
  color: #124b92;
  text-decoration: none;
}